#topbar
{
  background-color: #EAEAEA;
  height: 1px;
  margin-top: -1.5em;
}
h1
{
  font-family: sans-serif;
  text-align: left;
  margin-top: 0;
}
h3
{
  font-size: 2em;
  margin: 10px;
}
body
{
  text-align: center;
  font-family: 'Slabo 27px', serif;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: top;
}
p{
  margin: 2em;
}
img
{
  border-radius: 10px;
}
